#header {
	padding: 50px;
	background: url("../images/images_c.jpg") no-repeat;
	background-attachment: fixed;
	-webkit-background-size: auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	width: auto%;
	display: block;
	height: 100%;
	padding-bottom: 250px;
	font-size: 20px;
	overflow-x: hidden;

}

h1 {
	text-align: left;
	font-family: Helvetica;
	
}

h2 {
	text-align: justify center-left;
	font-family: Arial;
	font-size: 70px;
	color: white;
	
}

h3 {
	text-align: left;
	font-size: 20px;
}

* {
  box-sizing: border-box;
}

div {
  border-radius: 5px;
  background-color: #e6e6e6;
  padding: 20px;
}

body {
  background-color: #c2c2a3;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  margin: 8px -16px;
}

/* For padding BETWEEN each column*/
.row,
.row > .column {
  padding: 8px;
}

/* Creates four equal columns that float next to each other */
.column {
  float: left;
  width: 50%;
  height: auto;
  
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;

}

/* Quote format */
blockquote {
	background: #eee;
	border-radius: 5px
	
}

blockquote p {
	padding: 15px;
	
}

blockquote p:before {
	content: '\201C';
	
}

blockquote p:after {
	content: '\201D';
}

a:hover {
	color: blue;
}

/* info section */
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#footer {
    background-color: rgba(100,65,0,.3);
    color: #eee;
	text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
    padding: 20px 50px 20px 50px;
    text-align: right;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}






	



